<hr class="mt-2 mb-5">
<div class="row text-center text-lg-left">

    {% for pic in pics %}
        <div class="col-lg-3 col-md-4 col-6 mb-5">

            <img style="max-width:100%;" src="{{ pic.url }}">
            <p><strong>{{ pics.title }}</strong></p>
            <div class="align-left">

<textarea readonly class="form-control" row="10" id="desc"
          style="background-color: #353b48; color:aliceblue">{{ pic.explanation }}</textarea>

            </div>
        </div>
    {% endfor %}
</div>

<hr class="mt-2 mb-5">
<div class="row">
{% if pics.has_other_pages %}
  <ul class="pagination">
    {% if pics.has_previous %}
      <li><a href="?page={{ pics.previous_page_number }}&{{ params }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in pics.paginator.page_range %}
      {% if pics.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}&{{ params }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if pics.has_next %}
      <li><a href="?page={{ pics.next_page_number }}&{{ params }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>